Gemfile
Gemfile.lock
Videos/
img/.DS_Store
img/recette/.DS_Store
.jekyll-cache/
_site/
.sass-cache/
*.xcf
*.swp
*.DS_Store
CookBook/VinData/
CookBook/*.idx
CookBook/*.ind
CookBook/*.ilg
CookBook/*.aux
CookBook/*.toc
CookBook/*.tmb 
CookBook/*.out
CookBook/*.pickle
CookBook/VinMaps/
CookBook/*.log
CookBook/*.pdf
CookBook/cookbook.tex
CookBook/vin.tex
CookBook/calque-seul-1.eps
CookBook/errorVinDansRecette.csv
CookBook/mystyle.xdy
CookBook/LogError/
img/recetteCookbook/addText2Img/img/*.aux
img/recetteCookbook/addText2Img/img/*.pdf
img/recetteCookbook/addText2Img/main.aux
img/recetteCookbook/addText2Img/main.pdf
img/recetteCookbook/addText2Img/main.log
img/recetteCookbook/*.pdf

