  <aside class="bg-dark"  id='genealogie'>

      <div class="container text-center">
          <div class="call-to-action">
              <h1>Généalogie</h1>
              <hr>
                <p class="text-faded">
                Nous racontons ici l’histoire de notre famille qui est le fruit de l'union de deux branches.
                La branche Drévès est originaire de Saint-Pierre-Quilbignon et la branche Paugam de Ploudaniel.
                </p>
                <p class="text-faded">
                Nous sommes remonter le plus loin possible dans les archives et dans nos souvenirs
                car il est important pour tout un chacun de replacer ces ancêtres dans le temps et dans l’espace.
                C'est donc une histoire qui commence au XVIIème siècle mais qui raconte surtout le parcours
                de notre famille à travers le XXème siècle, dans la tourmente des deux guerres mondiales
                et dans le tourbillon du progrès économique et social.
                </p>

                <h3 class='text-primary' style='text-align:left'> Saint-Pierre-Quilbignon </h3>

                <div class="container">
                  <div class="row">
                      <div class="col-lg-4 col-md-4 text-center">
                          <p> </p>
                          <div  class="portfolio-box">
                              <img src="{{ url }}/img/genealogie/dreves1_600x350.png" class="img-responsive" alt="">
                              <div class="portfolio-box-caption-tab">

                              <div class="portfolio-box-caption-tab-content">
                                <div class="project-category text-faded">
                                    Categorie: text
                                </div>
                                <div class="project-name" >
                                    <p>
                                      La famille Drévès-Gourmelon : Chronique de la première moitié du XXème siècle.
                                    </p>
                                    <div>
                                    <a href="http://en.calameo.com/read/0046395077e5b34a4fd29" class="btn btn-default btn-xl ">a lire sur calameo.com</a>
                                    </div>
                                </div>
                              </div>

                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-4 text-center">
                          <p> </p>
                          <div class="portfolio-box">
                              <img src="{{ url }}/img/genealogie/dreves2_600x350.png" class="img-responsive" alt="">
                              <div class="portfolio-box-caption-tab">

                              <div class="portfolio-box-caption-tab-content">
                                <div class="project-category text-faded">
                                    Categorie: text
                                </div>
                                <div class="project-name" >
                                    <p>
                                      Les tribulations de la famille Drévès Jr. pendant les trentes glorieuses.
                                    </p>
                                    <div>
                                    <a href="https://www.calameo.com/read/0046395073f6c2ab523b4" class="btn btn-default btn-xl ">a lire sur calameo.com</a>
                                    <!--<div  class="btn btn-default btn-xl ">a venir</div> -->
                                    </div>
                                </div>
                              </div>

                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-4 text-center">
                          <p> </p>
                          <div class="portfolio-box">
                              <img src="{{ url }}/img/genealogie/filmXavier_600x350.png" class="img-responsive" alt="">
                              <div class="portfolio-box-caption-tab">

                              <div class="portfolio-box-caption-tab-content">
                                <div class="project-category text-faded">
                                    Categorie: video
                                </div>
                                <div class="project-name" >
                                    <p>
                                      La vidéo de Xavier sur la famille Gourmelon.
                                    </p>
                                    <div>
                                    <a href="https://vimeo.com/115486307" class="btn btn-default btn-xl ">a voir sur vimeo.com</a>
                                    </div>
                                </div>
                              </div>

                              </div>
                          </div>
                      </div>
                  </div>
                  <br>
              </div>


              <h3 class='text-primary' style='text-align:left'> Ploudaniel </h3>

              <div class="container">
                  <div class="row">
                      <div class="col-lg-4 col-md-4 text-center">
                          <p> </p>
                          <div class="portfolio-box">
                              <img src="{{ url }}/img/genealogie/paugam1_600x350.png" class="img-responsive" alt="">
                              <div class="portfolio-box-caption-tab">

                              <div class="portfolio-box-caption-tab-content">
                                <div class="project-category text-faded">
                                    Categorie: texte
                                </div>
                                <div class="project-name" >
                                    <p>
                                      La famille Paugam-Bodilis : Le Bas-Léon de 1850 à la deuxième guerre mondiale.
                                    </p>
                                    <!--<a href="http://en.calameo.com/read/0046395077e5b34a4fd29" class="btn btn-default btn-xl ">a lire sur calameo.com</a>-->
                                    <div>
                                    <!-- <div  class="btn btn-default btn-xl ">a venir</div> -->
                                    <a href="https://www.calameo.com/read/0046395073772467a4ccf" class="btn btn-default btn-xl ">a lire sur calameo.com</a>
                                    </div>
                                </div>
                               </div>

                               </div>
                            </div>
                         </div>

                      <div class="col-lg-4 col-md-4 text-center">
                          <p> </p>
                          <div class="portfolio-box">
                              <img src="{{ url }}/img/genealogie/paugam2_600x350.png" class="img-responsive" alt="">
                              <div class="portfolio-box-caption-tab">

                              <div class="portfolio-box-caption-tab-content">
                                <div class="project-category text-faded">
                                    Categorie: texte
                                </div>
                                <div class="project-name" >
                                    <p>
                                      Les heures et les malheurs de la famille Paugam
                                      pendant les trente glorieuses.
                                    </p>
                                    <!--<a href="http://en.calameo.com/read/0046395077e5b34a4fd29" class="btn btn-default btn-xl ">a lire sur calameo.com</a>-->
                                    <div>
                                    <div  class="btn btn-default btn-xl ">a venir</div>
                                    </div>
                                </div>
                               </div>

                               </div>
                            </div>
                         </div>
                  </div>
                  <br>


              </div>

          </div>
      </div>
  </aside>
