<section id="services">
    <div class="container">
            <div class="text-center">
                <h1 class="section-heading">Les Recettes de Cuisine</h1>
                <hr class="primary">
            </div>
    </div>
    <div class="container">
      <p class=text-overWhite>
      Nous avons rassemblé dans cette page toutes les recettes que nous avons mises
      en oeuvre pour garnir notre table au quotidien ou pour les jours de fête.
      Elles sont rangées dans les 4 rubriques placées ci-dessous.
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <h3><a href="{{ url }}/bretagne/#tag"> Bretagne <a> </h3>
                <div class="portfolio-box" >
                    <img  src="{{ url }}/img/drapeauBreton/lacasquette_650x350.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption" >
                        <div class="portfolio-box-caption-content">
                            <!--<div class="project-category text-faded">
                                Bretagne
                            </div>-->
                          <a href="{{ url }}/bretagne/#tag">  <div class="icon-bretagne" ></div> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <h3><a href="{{ url }}/maroc/#tag"> Maroc <a> </h3>
                <div class="portfolio-box">
                    <img src="img/drapeauMarocain/maroc_650x350.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <a href="{{ url }}/maroc/#tag">   <div class="icon-maroc"></div> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <h3><a href="{{ url }}/famille/#tag"> Famille </a> </h3>
                <div class="portfolio-box">
                    <img src="img/Famille/famille_650x350.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <a href="{{ url }}/famille/#tag">  <div class="icon-famille"></div>  </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <h3><a href="{{ url }}/autriche/#tag"> Autriche </a> </h3>
                <div class="portfolio-box">
                    <img src="img/drapeauAutrichien/autriche_650x350.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <a href="{{ url }}/autriche/#tag"> <div class="icon-autriche"></div> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

    <div class="container">
      <p class=text-overWhite>
      Ces plats sont issus de notre tradition familiale faite de cuisine française et
      de cuisine bretonne. Certains ont été rapportés de nos séjours
      à l’étranger : 13 années au Maroc pour toute la famille, 2 années à Vienne pour Maëlle,
      8 années à Londres pour Ronan. Plusieurs recettes ont été récupérées auprès d'amis de culture étrangère (Vietnam, Russie).
      </p>
      <p class=text-overWhite>
      Pour chaque recette est indiqué le vin que Jean Paul a sorti de sa cave
      pour l’accompagner, cave constituée d’année en année avec l’aide d’amis fins gourmets.
      </p>
      <p>
      Enfin, pour soigner sa table, on se reportera au livre “la cuisine du siècle“ de Catherine Bonnechere.
      C’est  un livre de cuisine trouvé dans le grenier de Ploudaniel édité en 1899.
      Les chapîtres sur “le savoir vivre” et “les élégances
      de la table” sont irrésistibles! Elles sont visibles <a href="https://en.calameo.com/read/0046395075f44e3515927">ici</a>.
      </p>
    </div>

</section>
