<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

<!--   <head>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/70_LWIR.json" as="fetch" crossorigin="anonymous" />
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/10_LWIR.json" as="fetch" crossorigin="anonymous" />
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/8_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/15_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/67_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/26_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/64_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/65_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/46_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/63_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/71_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/39_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/23_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/4_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/7_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/55_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/38_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/18_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/11_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/5_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/29_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/37_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/51_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/21_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/53_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/2_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/20_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/58_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/62_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/54_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/48_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/3_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/33_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/27_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/17_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/49_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/32_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/42_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/22_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/74_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/40_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/57_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/25_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/73_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/59_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/35_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/75_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/72_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/16_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/52_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/9_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/41_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/19_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/50_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/66_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/43_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/30_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/6_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/12_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/56_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/69_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/14_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/34_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/36_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/45_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/31_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/1_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/68_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/28_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/44_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/24_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/47_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/60_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/13_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/0_LWIR.json" as="fetch" crossorigin="anonymous"/>
<link rel="preload" href="/knp14/data/sku6/97cc97aef09f4c33a8d87da12d2d13bf/61_LWIR.json" as="fetch" crossorigin="anonymous"/>


  </head>
-->
<body id="page-top">
  {% include nav.html %}
  {% include header.html %}

  <section class="container"  id="tag">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

            <h1 class="section-heading">{{ page.title }}</h1>

          <div class="post-content">
          {{ content }}
          </div>

          {% include scripts.html %}
          <br>

        </div>
      </div>

    </section>

  </body>

</html>
