<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav2.html %}

  <section class="page-text"  id="tag">

  <div class="page-title">

  <!-- <div class="inner">
    <a href = "{{ site.url }}/#services" >
      <div class='icon-backbutton'> </div>
    </a>
  </div> -->

  <div class="inner">
    <span>{{ page.title }}</span>
  </div>
  </div>


  <div class='video-ronan'>
    {% include vimeoPlayer.html id=page.video padding-bottom="75%" label="test"%}
    {{ content }}
  </div>


  <br>
  <br>

  {% include scripts.html %}

</section>

</body>

</html>
